.splash{
    position: fixed;
    z-index: 1;
    left: 0;
    top: -150vh;
    width: 100%;
    height: 100vh;
    background: #242424;
    bottom: 150px;
    opacity: 0;
}
.splash.active{
    top: 0;
    bottom: 0;
    opacity: 1;
}
.splashBtn{
    padding: 10px 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgHeart{
    position: absolute;
    top: 150px;
    left: 270px;
    pointer-events: none;
    opacity: 0;
}
.imgHeart.active{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}